@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
  width: 8px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar:horizontal {
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(184, 184, 184, 0.74);
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

@media all and (max-height: 469px) {
  .horizontal-hidden {
    display: none;
  }
}